body{
    background-image: url("/images/cover-image3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    background-color: rgb(131, 218, 240);
    width: 500px;
    height: 450px;
    border: 5px solid rgb(131, 218, 240);
    padding: 30px;
    margin: 20px;
    margin-left: auto;
    float: left;
    border-radius: 20%;
  }
.form{
    background-color: rgb(131, 218, 240);
    width: 500px;
    height: 450px;
    border: 5px solid rgb(131, 218, 240);
    padding: 30px;
    margin: 20px;
    float: left;
    border-radius: 20%;
}
ul{
    list-style: none;
}
h1{
    font-weight: bold;
    font-size: large;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
}
.radio{
    margin-right: 10px;
}
gender{
    width: 200px;
}

#akan-names{
    color: black;
    background-color: rgb(131, 218, 240);
}
.display {
    font-size: 22px;
}

.display {
 font-size: inherit;

}
