body{
    background-image: url("/images/cover-image3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    background-color: rgb(131, 218, 240);
    width: 500px;
    border: 5px solid rgb(131, 218, 240);
    padding: 30px;
    margin: 20px;
    margin-left: auto;
    float: left;
  }
.form{
    background-color: rgb(131, 218, 240);
    width: 500px;
    border: 5px solid rgb(131, 218, 240);
    padding: 92px;
    margin: 20px;
    float: left;
}
ul{
    list-style: none;
}
h1{
    font-weight: bold;
    font-size: large;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
}
.radio{
    margin-right: 10px;
}
gender{
    width: 200px;
}
