body{
    background: url(/images/ghana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    background-attachment: fixed;
    display: inline-flexbox;
    
}
.container{
    background-color: rgb(131, 218, 240);
    width: 500px;
    height: 400px;
    border: 5px solid rgb(131, 218, 240);
    padding: 20px;
    margin: auto;
    margin-left: auto;
    margin-top: 100px;
    float: right;
    border-radius: 20%;
  }
.form{
    background-color: rgb(131, 218, 240);
    width: 450px;
    height: 400px;
    border: 5px solid rgb(131, 218, 240);
    padding: 30px;
    margin-top: 100px;
    float: left;
    border-radius: 20%;
}

h1{
    font-weight: bold;
    font-size: medium;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
}
.radio{
    margin-right: 10px;
}

#akan-names{
    color: black;
    background-color: rgb(131, 218, 240);
}
.display {
    font-size: 22px;
}

.display {
 font-size: inherit;

}
